<h3>Correlation & GWAS Tool - Compare your own phenotype with the DGRPool database</h3>

<!--<div id='history_container' class=''>
  <div class='float-end'>
    <button id='history-btn' class='btn btn-success' type='button'>History</button>
  </div>
  <div class='clearfix'></div>
</div>
-->

<div id='restart_container' class='mb-3'>
  <div class='float-end'>

    <button id='history-btn' class='btn btn-success' type='button'>History <span id='history_size' class='badge bg-light text-dark'><%= session[:history].size %></span></button>
    <button id='restart-btn' class='btn btn-primary hidden' type='button'>Restart</button>
   </div>
  <div class='clearfix'></div>
</div>

<div id='input_card' class="">
  <%= render :partial => 'dataset_file_upload' %>
</div>

<div id='parsing_info' class='mt-2'>
  <div class='alert alert-info'>
    Data should be in the form of a tab separated matrix in a text file/tsv (Excel files will NOT be recognized), with first row as header:<br/><br/>
	<table class='table table-bordered'>
		<thead>
			<tr>
				<th>DGRP</th>
				<th>sex</th>
				<th>Pheno1</th>
				<th>Pheno2</th>
				<th>...</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>DGRP_XXX</td>
				<td>M</td>
				<td>0.1</td>
				<td></td>
				<td>...</td>
			</tr>
			<tr>
				<td>DGRP_XXX</td>
				<td>NA</td>
				<td>0.1</td>
				<td>0.2</td>
				<td>...</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<ul>
		<li>First column should be titled <b>DGRP</b>, and contain DGRP line ids in DGRP_XXX or line_XXX format. <b>Note:</b> each DGRP line should appear only once (summary data per line, not raw data per fly)</li>
		<li>Second column is optional. If set, it should be titled <b>sex</b>, and values should be one of the following: [F, M, NA]</li>
		<li>Then there can be any number of phenotyping columns with any phenotype name as title (please avoid exotic characters), with corresponding values for each DGRP</li>
		<li>Missing values should be 'NA' or left empty.</li>
	</ul>	
	You can also check this <%= link_to "example file", raw(get_file_study_path(:id => 1, :name => 'summary.tsv')) %>
	<!--<a href="https://dgrpool.epfl.ch/studies/1/get_file?name=summary.tsv">example file</a>-->
	for an example formatted file.
  </div>
</div>

<div id='preparsing_result' class='mt-2'></div>

<div id='comparison_results' class='mt-3'></div>


<%= javascript_tag do %>

  document.addEventListener('DOMContentLoaded', function () {
$("#restart-btn").click(function(){
refresh("input_card", "<%= raw(get_upload_form_home_index_path()) %>", {})
$("#input_card").removeClass("hidden")
$("#restart-btn").addClass("hidden")
$("#parsing_info").removeClass("hidden")
$("#preparsing_result").empty()
console.log("test!!!")
$("#comparison_results").empty()
})
$("#history-btn").click(function(){
 refresh('ontop_popup_container2', "<%= raw get_history_home_index_path() %>", {loading:'fa-2x'})

   var w = $(window).width()
   var h = $(window).height()
   $("#ontop_popup_container2").css({
   height:h-240
    })
   $("#ontop_popup_window2").css({
        left: 240,
        width:w - 250,
        height:h-210,
        top: 200
   }).show(100);
  
})
})
<% end %>
