<p style="color: green"><%= notice %></p>

<div class='float-end'>
  <%= link_to "New SNP impact", new_snp_impact_path, {:class => 'btn btn-primary'} %>
</div>


<h1>SNP impacts</h1>

<table id='snp_impacts'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @snp_impacts.each do |e| %>
    <tr>
      <td><%= e.id %></td>
      <td><%= e.name %></td>
      <td>
        <%= link_to 'Edit', edit_snp_impact_path(e), {:class => 'btn btn-success'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>

document.addEventListener('DOMContentLoaded', function () {
let table = new DataTable('#snp_impacts', {pageLength:100})
});

<% end %>
