<p style="color: green"><%= notice %></p>

<%= render @snp_type %>

<div>
  <%= link_to "Edit this snp type", edit_snp_type_path(@snp_type) %> |
  <%= link_to "Back to snp types", snp_types_path %>

  <%= button_to "Destroy this snp type", @snp_type, method: :delete %>
</div>
