<% if @not_found.size > 0 %>

<div class= 'alert alert-danger'>
  The following gene names or identifiers were not found: <%= @not_found.join(", ") %>
</div>

<% end %>


<%= render :partial => ("search_" + session[:vs_settings][:search_view_type] + "_view"), :locals => {:h_studies => @h_studies, :h_var_types => @h_var_types, :h_phenotypes => @h_phenotypes, :h_genes => @h_genes, :h_snps => @h_snps, :h_snp_info => @h_snp_info, :h_snp_genes => @h_snp_genes, :gwas_results => @gwas_results, :type => ''} %>



<%= javascript_tag do %>

$("#download_all_btn").click(function(){
var q = $("#variant_free_text").val()
var link = "<%= raw get_search_snps_path() %>?q=" + q + "&assembly=" + $("#assembly").val()
//console.log(link)
//console.log(q.replace(" ", "_"))
window.download_from_link(link, 'gwas_results_snps_' + q.replace(" ", "_") + ".tsv")
})


document.addEventListener('DOMContentLoaded', function () {

$("#variant_per_page").change(function(){
 var t = this.id.split("_")
 var h = {loading:'fa-2x'}
 variant_search([], h)
})

$("#search_menu-nav li .nav-link").click(function(){
 console.log("bla")
 var p = [{name : 'search_type', value :  this.id.split("_")[0]}];
 refresh_post(null, "<%= set_search_session_snps_path %>", p, 'post', {})
})

$(".variant_page_nav-btn").click(function(){
 var t = this.id.split("_")
 // var search_type = t[0]
 var direction = t[0]
 var cur_val = parseInt($("#variant_page").val())
 if (direction == 'prev'){
  $("#variant_page").val(cur_val - 1)
 }else{
  $("#variant_page").val(cur_val + 1)
 }
 console.log("#variant_page: " + $("#variant_page").val())
 var h = {loading:'fa-2x'}
 variant_search([], h)
})

$(".variant_page").keyup(function(e){
 var t = this.id.split("_")
// var type = t[0]
 // console.log("KEY:" + e.key)
 if (e.key == 'Enter'){
  // validate page #
  if (parseInt($("#variant_total").val()) < (parseInt($("#variant_page").val())-1) * parseInt($("#variant_per_page").val())){
   console.log("Too high page number!")
   $("#variant_page").val(Math.round(parseInt($("#variant_total").val())/parseInt($("#variant_per_page").val()))+1)
  }
  var h = {loading:'fa-2x'}
  variant_search([], h)
 }
})

})

<% end %>


