<h1>Editing study</h1>

<%= render "form", study: @study %>

<br>

<div>
<!--  <%= link_to "Show this study", @study %> |
  <%= link_to "Back to studies", studies_path %>
  -->
  <%= link_to "Show", study_path(@study) , :class =>'btn btn-primary' %>
  <%= link_to "Back to studies", study_path(@study) , :class =>'btn btn-secondary' %>
  
  <% if admin? %>
  <%= link_to "Delete", study_path(@study), {:data => { "turbo-method" => :delete, :method => :delete}, :class => 'btn btn-danger'} %>
  <% end %>

</div>
