<p style="color: green"><%= notice %></p>

<div class='float-end'>
  <%= link_to "New summary type", new_summary_type_path, {:class => 'btn btn-primary'} %>
</div>

<h1>Summary types</h1>

<!--<div id="summary_types">
  <% @summary_types.each do |summary_type| %>
    <%= render summary_type %>
    <p>
      <%= link_to "Show this summary type", summary_type %>
    </p>
  <% end %>
</div>
-->
<table id='summary_types'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @summary_types.each do |e| %>
    <tr>
      <td><%= e.id %></td>
      <td><%= e.name %></td>
      <td>
	<%# link_to 'Show', summary_type_path(e), {:class => 'btn btn-primary'} %>
	<%= link_to 'Edit', edit_summary_type_path(e), {:class => 'btn btn-success'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>

document.addEventListener('DOMContentLoaded', function () {
//let table = new DataTable('#summary_types', {pageLength:100})
$("#summary_types").DataTable({pageLength:100})
});

<% end %>



